<tr>
  <td><%= game.id %></td>
  <td><%= game.player_1.name %></td>
  <td><%= game.player_2.name %></td>
  <td><%= game.status %></td>
  <td><% if game.active? %><%= game.whose_turn.name %>'s<% end %></td>

  <% if game.game_won? %>
    <td><%= game.winner.name %></td>
  <% elsif game.game_drawn? %>
    <td><%= "Draw" %></td>
  <% else %>
    <td><%= "N/A"%></td>
  <% end %>

  <% if game.status == "In progress" %>
    <td><%= link_to 'Continue', game %></td>
  <% else %>
    <td><%= link_to 'Review', game %></td>
  <% end %>
</tr>