<tr>
  <td><%= game.id %></td>
  <td><%= game.player_1.name %></td>
  <td><%= game.player_2.name %></td>
  <td><%= game.status %></td>
  <td><% if game.active? %><%= game.whose_turn.name %>'s<% end %></td>
  <% if game.status == "in_progress" %>
    <td><%= link_to 'Continue', game %></td>
  <% else %>
    <td><%= link_to 'Review', game %></td>
  <% end %>
</tr>