<h2><%= @name %></h2>

<%= link_to 'Play new game', new_game_path, :class => "button expand" %>

  <table>
    <caption><h4>Your Stats</h4></caption>
    <tr>
      <th>Win/Loss Ratio</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Draws</th>
      <th>In Progress</th>
    </tr>
    <tr>
      <td><%= @win_loss %></td>
      <td><%= @win_count %></td>
      <td><%= @loss_count %></td>
      <td><%= @draw_count %></td>
      <td><%= @in_progress %></td>
    </tr>
  </table>

<table>
  <caption><h4>Your Games</h4></caption>
  <tr>
    <th>Game</th>
    <th>Player O</th>
    <th>Player X</th>
    <th>Status</th>
    <th>Turn</th>
    <th>Winner</th>
    <th>Link</th>
  </tr>
  <%= render @games if @games.present? %>
</table>