<table>
  <caption>Game <%= @game.id %></caption>
  <tr>
    <th>Player O</th>
    <th>Player X</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= @game.player_1.name %></td>
    <td><%= @game.player_2.name %></td>
    <td><%= @game.status %></td>
  </tr>
</table>

<% if @game.active? %>
  <p class="alert-box success radius">It's <%= @game.whose_turn.name %>'s turn.</p>
<% end %>

<% if @game.game_drawn? %>
  <p class="alert-box success radius">It's a draw!</p>
<% end %>

<% if @game.game_won? %>
  <p class="alert-box success radius"><%= @game.winner.try(:name) %> wins!</p>
<% end %>

<%= render 'board' %>
<%= link_to 'Back', games_path, :class => "button" %>