<h4>Game: <%= @game.id %></h4>
<h4>Player O: <%= @game.player_1.name %></h4>
<h4>Player X: <%= @game.player_2.name %></h4>
<h4>Status: <%= @game.status %></h4>

<% if @game.active? %>
  <h4>It's <%= @game.whose_turn.name %>'s turn.</h4>
<% end %>

<% if @game.game_drawn? %>
  <h4>It's a draw!</h4>
<% end %>

<% if @game.game_won? %>
  <h4><%= @game.winner.name %> wins!</h4>
<% end %>

<%= render 'board' %>
<%= link_to 'Back', games_path %>